.Deck {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: relative;
    top : 15%;
    left:22%;
    text-align: center;
}

.Card {
    width: 20%;
    margin: 1%;
}

.Sigma {
    position: relative;
    bottom:21%;
}

.SigmaButton {
    width: 9vw;
    height: 9vh;  
    font-size: 1vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
}

.PlayerHand {
    position: relative;
    top: 6.5vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
} 

.PlayerCards {
    width: 20%;
    margin: 0.2vh;
    position: relative;
}

.EmptyHandBottomLeft {
    position: relative;
    bottom: 8vh;
    text-align: center;
    right : 6vw;
}

.EmptyHandBottomRight {
    position: relative;
    bottom: 8vh;
    text-align: center;
    left : 6vw;
}

.EmptyCards {
    width: 40%; 
    margin-left: 0.1vh;
}


