.Deck {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: relative;
    bottom: 10%;
    left:22%;
    text-align: center;
}

.Card {
    width: 20%;
    margin: 1%;
}

.Sigma {
    position: relative;
    top: 10%;
}

.SigmaButton {
    width: 9vw;
    height: 9vh;  
    font-size: 1vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
}

.PlayerHand {
    position: relative;
    bottom : 20%;
    text-align: center;
    display: flex;
    justify-content: space-between;
} 

.PlayerHandTop {
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:20vh;

}

.PlayerCards {
    width: 20%;
    margin: 0.2vh;
    position: relative;
}

.EmptyHandBottomLeft {
    position: relative;
    bottom: 3vw;
    text-align: center;
    right : 4vw;
}

.EmptyHandBottomRight {
    position: relative;
    bottom: 3vw;
    text-align: center;
    left : 4vw;
}

.EmptyHandTopLeft {
    position: relative;
    top: 4vw;
    text-align: center;
    right : 6vw;
}

.EmptyHandTopRight {
    position: relative;
    top: 4vw;
    text-align: center;
    left : 6vw;
}

.EmptyCardsTop {
    width: 30%; 
    margin-left: 0.1vh;
}

.EmptyCardsBottom {
    width: 40%; 
    margin-left: 0.1vh;
}


