.App {
  text-align: center;
  width: 50vw;
  height: 55vh;
  background-color: rgb(0, 158, 13);
  border: 1vh solid rgb(79, 38, 0); 
  box-shadow: 0px 0px 70px 10px inset rgb(61, 61, 61);
  border-radius: 30vh;
  position: absolute;
  top:0;
  bottom: 20vh;
  left: 0;
  right: 0;
  
  margin: auto;
}

.TableText {
  color : rgb(0, 106, 9);
  font-size: 3.5vw;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: 10%;
}

